# Python virtual environments
.venv/
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask / environment variables
.env
.flaskenv
instance/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
